.custom-select {
    position: relative;
    width: 14rem;
    font-family: inherit;
    color: #535353;
}

.select-trigger {
    width: 100%;
    height: 2.75rem;
    padding: 0 1rem;

    background: #ffffff;
    border: 0.0625rem solid #989898;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1rem;
    cursor: pointer;
    color: #989898;
    font-weight: 400;
}
.select-trigger:focus {
    outline: none;
    box-shadow: none;
}
.select-arrow {
    transition: transform 0.2s ease;
    font-size: 1rem;
}

.select-arrow.open {
    transform: rotate(180deg);
}

.select-dropdown {
    position: absolute;
    top: calc(100% + 0.4rem);
    left: 0;

    width: 100%;
    background: white;

    border-radius: 0.5rem;
    overflow: hidden;

    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);

    z-index: 20;
}

.select-option {
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-size: 0.95rem;
}

.select-option:hover {
    background: #f3f4f6;
}

.select-option.active {
    background: #2f4de0;
    color: white;
}
.custom-select.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.custom-select.disabled .select-trigger {
    cursor: not-allowed;
}